:root {
  --color-destaque: #b800c9;
  --color-destaque-sombra: #65026e;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: black;
  color: white;
  padding-bottom: 0;
}


.destaque {
  color: var(--color-destaque);
}

.section-one {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.text-section-one {
  width: 50%;
  border-left: 4px solid var(--color-destaque);
  padding-left: 2rem;
  margin-top: 50px;
  font-size: 3rem;
}

.color-desc {
  font-size: 2.5rem;
}


.img1-div {
  width: 100%;
  max-height: 45rem;
  margin-bottom: 0;
  border-radius: 9px;
  border: 1px solid var(--color-destaque);
  box-shadow: var(--color-destaque) 1px 1px 10px 1px;
  transition: all 300ms ease-in-out;
}

.img1-div:hover {
  box-shadow: var(--color-destaque) 1px 1px 20px 1px;
  transform: translate(0, -3px);

}

.section-two {
  display: flex;
  justify-content: center;
}

.text-section-two {
  width: 80%;
  color: white;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5rem;
  border-radius: 1.2rem;
  padding: 3rem;
  border: 1px solid var(--color-destaque);
}

.container {
  color: white;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5rem;
  border-radius: 1.2rem;
  padding: 3rem;
  visibility: hidden;

}


.text-section-three>article>h3,
p {
  font-size: 2.5rem;
  margin-top: 2rem;

}


.text-section-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;

}

.topico0 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.topico1 {
  grid-row-start: 2;
}

.topico2 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.topico3 {
  grid-row-start: 3;
}

.topico4 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.ordem-section-three {
  background: #393636ff;
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.ordem-section-three:hover {
  background: var(--color-destaque);
}

.font {
  font-size: 2rem;
}

.desc-topics {
  background-color: #393636ff;
  padding: 2rem;
  max-width: 300px;
  border-radius: 1.2rem;
}

.limite {
  max-width: 300px;
}

.shadow {
  box-shadow: var(--color-destaque-sombra) 2px 2px 2px 2px;
}

/* Barra de navegação */
.navbar-top{
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #393636ff;
  box-shadow: var(--color-destaque) 1px 1px 10px 1px;
}

.navbar-top ul{
  display: flex;
  justify-content: center;
  gap: 1rem;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-top li {
  border-radius: 12px;
  transition: all 400ms ease-in-out;
  float: left;
}

.navbar-top li:hover {
  background-color: var(--color-destaque);
}

.navbar-top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.font-size {
  font-size: 4.5rem;
}

.font-size2 {
  font-size: 2rem;
}

.section-projetos {
  padding: 50px;
  border-top: 1px solid var(--color-destaque);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  visibility: hidden;
}

.p-projetos {
  font-size: 2rem;
  text-align: center;
  max-width: 300px;
}

.text_projetos {
  text-align: center;
}

.center {
  text-align: center;
  font-size: 3rem;
}

.link-projetos{
  text-decoration: none;
  color: var(--color-destaque);
  transition: all 400ms ease-in-out;
}

.link-projetos:hover {
  color: var(--color-destaque-sombra);
}

.projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.container-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-projetos-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 2rem;
}

.img-projetos {
  object-fit: cover;
  width: 300px;
  height: 400px;
  border-radius: 12px;
  border: 1px solid var(--color-destaque);
  box-shadow: var(--color-destaque) 1px 1px 5px 1px;
  transition: all 400ms ease-in-out;
}

.img-projetos:hover {
  box-shadow: var(--color-destaque) 1px 1px 10px 1px;
  transform: translate(0, -3px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: rgb(37, 36, 36);
  font-size: 5rem;
  height: 200px;
}

.lista-footer > li > a {
  text-decoration: none;
  color: white;
  transition: all 400ms ease-in-out;
}
.lista-footer > li > a:hover {
  color: var(--color-destaque);
}

.lista-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
}

#projetos {
  transition: all 400ms ease-in-out;
}

/* Estilo para o botão de volta ao início */
#backToTopBtn {
  display: none; /* Esconde o botão por padrão */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color-destaque);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: all 400ms ease-in-out;
}

#backToTopBtn:hover {
  background-color: var(--color-destaque-sombra);
}

/* Mostra o botão quando o usuário rolar a página para baixo */
@media only screen and (max-width: 600px) {
  #backToTopBtn {
    bottom: 10px;
    right: 10px;
  }
}

/* Media Queries */

@media  screen and (max-width: 768px) {
  .section-one {
    flex-direction: column;
    align-items: center;
  }

  .text-section-one {
    width: 90%;
    border-left: none;
    padding-left: 0;
    margin-top: 0;
    font-size: 2rem;
  }

  .img1-div {
    margin-left: 0;
    margin-top: 2rem;
    max-height: 25rem;
  }

  .text-section-two {
    width: 100%;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .text-section-three {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .topico0 {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  
  .topico1 {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  
  .topico2 {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  
  .topico3 {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  
  .topico4 {
    grid-row-start: 5;
    grid-column-start: 1;
  }
  .navbar-top li a {
    padding: 7px 9px;
  }

  .navbar-top {
    margin-bottom: 2rem;
  }

  .main-content {
    padding: 20px;
  }
}