:root {
  --color-destaque: #b800c9;
  --color-destaque-sombra: #65026e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: black;
  color: white;
}

.destaque {
  color: var(--color-destaque);
}

.section-one {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.text-section-one {
  width: 50%;
  border-left: 4px solid var(--color-destaque);
  padding-left: 2rem;
  margin-top: 50px;
  font-size: 3rem;
}



/* .text-titles {
  background: linear-gradient(45deg, #a97256ff, #eee3ddff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.color-desc {
  font-size: 2.5rem;
}

/* .img-section-one {
  object-fit: cover;
  width: 100%;
  max-height: 35rem;
  margin-bottom: 0;
  margin-left: 100px;
  box-shadow: #393636ff 1px 1px 10px 1px;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
} */


.img1-div {
  width: 100%;
  max-height: 45rem;
  margin-bottom: 0;
  border-radius: 9px;
  border: 1px solid var(--color-destaque);
  box-shadow: var(--color-destaque) 1px 1px 10px 1px;
}

.section-two {
  display: flex;
  flex-direction: column;
}

.text-section-two {
  margin-left: 270px;
  margin-right: 270px;
  color: white;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5rem;
  border-radius: 1.2rem;
  padding: 3rem;
  border: 1px solid var(--color-destaque);
}

.container {
  color: white;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5rem;
  border-radius: 1.2rem;
  padding: 3rem;

}

.text-section-three>article>h3,
p {
  font-size: 2.5rem;
  margin-top: 2rem;

}


.text-section-three {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  place-items: center;

}

.topico0 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.topico1 {
  grid-row-start: 2;
}

.topico2 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.topico3 {
  grid-row-start: 3;
}

.topico4 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.ordem-section-three {
  background: #393636ff;
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.ordem-section-three:hover {
  background: var(--color-destaque);
}

.font {
  font-size: 2rem;
}

.desc-topics {
  background-color: #393636ff;
  padding: 2rem;
  max-width: 300px;
  border-radius: 1.2rem;
}

.limite {
  max-width: 300px;
}

.shadow {
  box-shadow: var(--color-destaque-sombra) 2px 2px 2px 2px;
}

/* Barra de navegação */
.navbar-top{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
}

.navbar-top ul{
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-top li {
  border: 2px solid rgb(184, 0, 201);
  border-radius: 12px;
  float: left;
}

.navbar-top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-top li a{
  transition: all 300ms ease-in-out;
}

.navbar-top li a:hover {
  background-color: var(--color-destaque);
  border-radius: 8px;
}